*,::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body{
    background:rgba(0, 0, 0, 0.454);
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    text-decoration: none;
}



.header-img{
    width: 18rem;
    height: 22rem;
    padding: 2rem;
    border-radius: 100%;
    cursor:pointer;
}
.presentation-h1{
    margin-bottom: 150px;
    border: 3px solid black;
    color:rgb(20, 22, 22);
    text-align: center;
    padding: 20px;
    font-size: 20px;

}
h1::first-letter{
    color: black;
    font-size: 50px;
 
}
.header-div-pres{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    border: 2px solid white;
}

.header-div-pres .presentation-personnelle p{
    position: relative;
    font-size: 20px;
    color: #fff;
    padding: 15px;
    top:-7rem;
    
}

.header-div-pres .presentation-personnelle p{
    position: relative;
    font-size: 20px;
    color: #fff;
    top:-7rem;
    padding: 15px;
}

.header-div-pres .presentation-hobbies p{
    position: relative;
    font-size: 18px;
    color: #fff;
    top:-7rem;
    padding: 22;
    text-align: center;
}

.header-div-pres .presentation-personnelle h2{
    margin-bottom: 150px;
    border: 3px solid black;
    color:rgb(20, 22, 22);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
.header-div-pres .presentation-personnelle h2{
    margin-bottom: 150px;
    border: 3px solid black;
    color:rgb(20, 22, 22);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.header-div-pres .presentation-hobbies h2{
    margin-bottom: 150px;
    border: 3px solid black;
    color:rgb(20, 22, 22);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.header-div-pres .presentation-personnelle{
    border: 1.5px solid black;
    width: 20rem;
    height: 38rem;
    margin: 10px;
    text-align: start;
    background-color: #696972;
    box-shadow: 20px 10px 20px 10px;
}
.header-div-pres .presentation-personnelle{
    border: 1.5px solid black;
    width: 20rem;
    height: 38rem;
    margin: 10px;
    text-align: start;
    background-color: #696972;
    box-shadow: 20px 10px 20px 10px;
}
.header-div-pres .presentation-hobbies{
    border: 1.5px solid black;
    width: 21rem;
    height: 38rem;
    margin: 10px;
    text-align: start;
    background-color: #696972;
    box-shadow: 20px 10px 20px 10px;
}

.header-div-exp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
     padding: 30px;
     border: 2px solid white;
}
.header-div-exp  .h2{

    /*animation: etire 2.8s infinite ease-in-out;    */    
    }
    @keyframes etire{
        0%{
            transform: scaleY(0.4);
        }
        100%{
            color: #c8c796;
  
        }
    }

    .header-div-exp .experience-une p{
        position: relative;
    font-size: 20px;
    color: #fff;
    top:-7rem;
    padding: 15px;
    }

    .header-div-exp .experience-deux p{
    position: relative;
    font-size: 20px;
    color: #fff;
    top:-7rem;
    padding: 15px;
    text-align:start;
    }

    .header-div-exp .experience-trois p{
    position: relative;
    font-size: 20px;
    color: #fff;
    top:-7rem;
    padding: 15px;
    text-align: start;
    }

    .header-div-exp .experience-une h2{
        margin-bottom: 150px;
        border: 3px solid black;
        color:rgb(20, 22, 22);
        text-align: center;
        padding: 20px;
        font-size: 30px;
    }
    
    .header-div-exp .experience-deux h2{
        margin-bottom: 150px;
        border: 3px solid black;
        color:rgb(20, 22, 22);
        text-align: center;
        padding: 20px;
        font-size: 30px;

    }
    .header-div-exp .experience-trois h2{
        margin-bottom: 150px;
        border: 3px solid black;
        color:rgb(20, 22, 22);
        text-align: center;
        padding: 20px;
        font-size: 30px;
    

    }
.header-div-exp .experience-une{

    border: 1.5px solid black;
    width: 20rem;
    height: 35rem;
    margin: 10px;
    text-align: center;
    background-color: #696972;
    box-shadow: 20px 10px 20px 10px;
}
.header-div-exp .experience-deux{

    border: 1.5px solid black;
    width: 20rem;
    height: 35rem;
    margin: 10px;
    text-align: center;
    background-color: #696972;
    box-shadow: 20px 10px 20px 10px;
}
.header-div-exp .experience-trois{

    border: 1.5px solid black;
    width: 20rem;
    height: 30rem;
    margin: 10px;
    text-align: center;
    background-color: #696972;
    box-shadow: 10px 5px 10px 5px;
}



.header-div .h2{
    font-size: 30px;
    animation: 1.2s infinite ease-in-out;        
    }
    @keyframes etire{
        0%{
            transform: scaleY(0.4);
        }
        100%{
            color: #c8c796;
  
        }
    }



    .header-div-pres .h2{
        font-size: 30px;
    animation:  1.2s infinite ease-in-out;        
    }
    @keyframes etire{
        0%{
            transform: scaleY(0.4);
        }
        100%{
            color: #c8c796;
  
        }
    }


.header-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    border: 2px solid white;
}

.header-div .formation-ecole-une h2{
    margin-bottom: 150px;
    border: 3px solid black;
    color:rgb(20, 22, 22);
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.header-div .formation-ecole-deux h2{
    margin-bottom: 150px;
    border: 3px solid black;
    color:rgb(20, 22, 22);
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.header-div .formation-ecole-trois h2{
    margin-bottom: 150px;
    border: 3px solid black;
    color:rgb(20, 22, 22);
    text-align: center;
    padding: 20px;
    font-size: 23px;
}

.header-div .formation-ecole-une p{
    position: relative;
    font-size: 20px;
    color: #fff;
    top:-7rem;
    padding: 15px;
    text-align: start;
    }

.header-div .formation-ecole-deux p{
    position: relative;
    font-size: 20px;
    color: #fff;
    top:-7rem;
    padding: 15px;
    text-align: start;
    }

.header-div .formation-ecole-trois p{
    position: relative;
    font-size: 20px;
    color: #fff;
    top:-7rem;
    padding: 15px;
    text-align: start;
    }


.header-div .formation-ecole-une{
    border: 1.5px solid black;
    width: 20rem;
    height: 35rem;
    margin: 10px;
    text-align: center;
    /*background: #c35022;*/
    background-color: #696972;
    box-shadow: 20px 10px 20px 10px;
}
.header-div .formation-ecole-deux{
    border: 1.5px solid black;
    width: 20rem;
    height: 35rem;
    margin: 10px;
    text-align: center;
    background-color: #696972;
    box-shadow: 20px 10px 20px 10px;
}
.header-div .formation-ecole-trois{
    border: 1.5px solid black;
    width: 20rem;
    height: 35rem;
    margin: 10px;
    text-align: center;
    background-color: #696972;
    box-shadow: 20px 10px 20px 10px;
}


ul{
    position: absolute;
    top: 25%;
    text-align: center;
    width: 100%;
}
ul li{
    display: inline;
    list-style-type: none;
    font-size: 30px;
    letter-spacing: 13px;
    animation:infinite flash 2.5s linear;
    text-decoration: underline;
}
@keyframes flash{
    0%{
        color: #484848;
        text-shadow: none;
    }
    90%{
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
    }
}

ul li:nth-child(1){
    animation-delay: 0.1s;
}

ul li:nth-child(2){
    animation-delay: 0.2s;
}

ul li:nth-child(3){
    animation-delay: 0.3s;
}

ul li:nth-child(4){
    animation-delay: 0.4s;
}

ul li:nth-child(5){
    animation-delay: 0.5s;
}

ul li:nth-child(6){
    animation-delay: 0.6s;
}

ul li:nth-child(7){
    animation-delay: 0.7s;
}

ul li:nth-child(8){
    animation-delay: 0.8s;
}

ul li:nth-child(9){
    animation-delay: 0.9s;
}

/* .logo-ecole img{
    width: 500px;
    height: 300px;
    border-radius: 97% 3% 70% 30% / 99% 0% 100% 1% ;
} */


    /*
    position: absolute; après, on peut le déplacer comme on veut
    top:120%;
    left: 60%;*/

    /*transform: skew(50deg, 50deg)***/

    /*transform: translate(-50%, -50%);*/
    /**pour centrer un élément parfaitement***/

    /*transform: scale(2);
    pour faire grandir un élément*/
    /*transform: rotate(360deg);*/


    /***transform: rotate(45deg);
    transform-origin: 20px 10px; ***/



    .header-div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 30px;
        border: 2px solid white;
    }

.header-div .contact-une{
   
    border: 1.5px solid black;
    width: 20rem;
    height: 35rem;
    margin: 10px;
    text-align: center;
    background-color: #696972;
    box-shadow: 20px 10px 20px 10px;
}

.header-div .contact-une h2{
    margin-bottom: 150px;
    border: 3px solid black;
    color:rgb(20, 22, 22);
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.header-div .contact-une p{
    position: relative;
    font-size: 20px;
    top:-7rem;
    padding: 15px;
    text-align: center;
}
b
/* .header-div .contact img{
        width: 350px;
        height: 300px;
        border-radius: 97% 3% 70% 30% / 99% 0% 100% 1% ;
} */
.form-title{
    display: block;
    text-align: center;
    font-size: 50px;
    border: 1px solid rgb(157, 9, 58);
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    margin: 2rem;

   
}
.form{
    display: block;
    width: 25vw; /*Ne prend que 40% du body*/
    height: auto;
    background: rgb(180, 68, 86);
    /*inset: 70%; /*sert à positionner**/
    margin: 80px  auto; /*pour les 4 valeurs:0 poour top/bottom*/
    border: 2px solid black;
    margin-top: -10px;

    
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
}

.form-row label{
    font-size: 1.5rem;
}

.form-button button{
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    background: rgb(96, 96, 52);
}
.form-button button:hover{
    background: rgb(93, 123, 93);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 6px rgb(52, 73, 20);
    border-radius: 50px;
}
    .form-button:active{
        box-shadow: 0 0#efa424;
        top: 10px
    }

.links-link a{

    /* text-decoration: underline; */
    font-size: 25px;
    /*transition: trasform 1s;*/
    /*duration*/
   /* property*/
    /*timing function*/
    /*delay*/
    /*animation-name: spin;*/
    /*animation-iteration-count: 1;*/
    /*animation-iteration-count: infinite; /*il fonctionne avec alternate*/
    /*animation-duration: 2s;*/

    /*animation-fill-mode: forwards; /*prends la dernière couleur écrite*/
    /*animation-direction: reverse;*/
    /*animation-direction: alternate;
    /*animation-timing-function: ease-in; /*lent au début et rapide à la fin*/

    /*animation: spin 2s ease-in forwards; /*regroupage

/* 
}
 @keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    50%{
        background: #efa424;
    }
    51.5%{
        background:#000;
    }
    100%{
        transform: rotate(720deg);
        background: rgb(205, 76, 76);
    } 
 } */
}
/*
.links a:hover{
    transform: etire(180deg);
    transition: trasform 1s;
    animation: spin 2s;
}

/*********https://developer.mozilla.org/fr/docs/Web/CSS/CSS_animated_properties =propriétés qu'on peut animer avec transition et animation****/

a{
    text-decoration: none;
    padding: 2rem;
    text-align: center;
    
   
    
}

.links-link a{
    color:black;
    display: inline-block;
    color: #fff900;
    box-shadow:0 0 7 #fff900, 0 0 50px #ff6c00;
    flex-direction:row;
    flex-wrap: wrap;
    text-decoration: none;
     animation: flash 2s linear infinite;
     border: 2px solid white;
     background-color: #696972;
    
     
     /*animation:  flash 2s linear infinite;*/ 
}


footer{
    border-top: 1px solid #333;
    width: 100%;
    text-align: center;
    padding: 10px;
    position: absolute;
    font-size: 17px;
    font-weight: bolder;
}
    



